{% extends 'layout.html.twig' %}
{% block title %}Loufok login{% endblock %}
{% block content %}
<body>
  <main class="container vh-100">
    
  <h1>Administrateur</h1>
    <h3> Connexion sécurisée </h3>
    <a href="/loufok/login"> Se déconnecter </a>
  </main>
</body>
{% endblock %}