{% extends 'layout.html.twig' %}
{% block title %}Loufok login{% endblock %}
{% block content %}
<body>
  <header>
    <a href="/loufok/logout"> Se déconnecter </a>
  </header>
  <main class="container vh-100">
    
    <h1>Joueur</h1>
    <h3> Connexion sécurisée </h3>

    <div class="container status">

    </div>

    <ul>
      <li><a href="/loufok/logout"> participer au Cadavre Exquis en cours</a></li>
      <li><a href="/loufok/logout"> Consulter mes Cadavres Exquis précédents</a></li>
  </main>
</body>
{% endblock %}