{% extends 'layout.html.twig' %}
{% block title %}Joueur Loufok{% endblock %}
{% block css %}  
  <link rel="stylesheet" href="../assets/css/admin.css" >
{% endblock %}
{% block content %}
<body>

 <!-- menu -->
  <header>
      <div class="navbar">
          <h1 class="navbar__title">Loufok - les cadavres exquis revisités </h1>
          <input {# aria-checked="false" #} tabindex="0" class="navbar__burger" id="burger" type="checkbox" />
          <label tabindex="0" role="open menu" aria-label="Open menu" for="burger" class="navbar__cross">
            <span class="navbar__cross1"></span>
            <span class="navbar__cross2"></span>
          </label>

          <nav class="menu__hidden" >
            <ul class="menu__hidden__list">
              <li class="menu__hidden__listItem"><a tabindex="-1" class="menu__hidden__link" href="/loufok/logout">Déconnexion</a></li>
            </ul>
              <img class="menu__end" src="/assets/images/manuscrit.svg" alt="" />
          </nav>
        <div class="menu">
        </div>
      </div>
  </header>

{# 
  <header>
    <a href="/loufok/logout"> Se déconnecter </a>
  </header> #}
  <main class="container vh-100">
    
    <h1>{{ user }}</h1>
    <h3> Connexion sécurisée </h3>
    <div class="container current_cadavre">
    {% if title %}
      <p>Titre du cadavre exquis en cours : {{ title }}</p>
    {% else %}
      <p>Pas de Cadavre Exquis en cours pour le moment.<p>
    {% endif %}
    </div>

    <ul>
    {% if title %}
      <li><a href="/loufok/contribution"> participer au Cadavre Exquis en cours</a></li>
    {% endif %}
    {% if latest %}
      <li><a href="/loufok"> Consulter mes Cadavres Exquis précédents</a></li>
    {% endif %}
  </main>

    <footer class="footer">
    <div class="access">
      <div class="access__shadow">
        <span class="access__dys">Dyslexique</span>
        <img class="access__increase" src="../../assets/images/increase.svg" alt="Augmenter la taille du texte" aria-label="Increase text size" />
        <img class="access__decrease" src="../../assets/images/decrease.svg" alt="Diminuer la taille du texte" aria-label="Decrease text size" />
      </div>
    </div>
    <img class="access__icon" src="../../assets/images/access_icon.png" alt="Accessibilité" aria-label="accessibilité" />
  </footer>

</body>
{% endblock %}

{% block js %}
{% endblock %}