{% extends 'layout.html.twig' %}
{% block title %}Joueur Loufok{% endblock %}
{% block css %}  
  <link rel="stylesheet" href="../assets/css/admin.css" >
  <link rel="stylesheet" href="../assets/css/menu.css" >
{% endblock %}
{% block content %}
<body>
  <header>
    <a href="/loufok/logout"> Se déconnecter </a>
  </header>
  <main class="container vh-100">
    
    <h1>Joueur</h1>
    <h3> Connexion sécurisée </h3>
    <div class="container current_cadavre">
    {% if title %}
      <p>Titre du cadavre exquis en cours : {{ title }}</p>
    {% else %}
      <p>Pas de Cadavre Exquis en cours pour le moment.<p>
    {% endif %}
    </div>

    <ul>
    {% if title %}
      <li><a href="/loufok/contribution"> participer au Cadavre Exquis en cours</a></li>
    {% endif %}
    {% if latest %}
      <li><a href="/loufok"> Consulter mes Cadavres Exquis précédents</a></li>
    {% endif %}
  </main>
</body>
{% endblock %}