{% extends 'layout.html.twig' %}
{% block title %}Dernier Cadavre Exquis Loufok{% endblock %}
{% block css %}  
  <link rel="stylesheet" href="../assets/css/admin.css" >
  <link rel="stylesheet" href="../assets/css/menu.css" >
{% endblock %}
{% block content %}
<body>
  <header>
    <a href="/loufok/logout"> Se déconnecter </a>
  </header>
  <main class="container vh-100">
    
  </main>
</body>
{% endblock %}