{% extends 'layout.html.twig' %}
{% block title %}Dernier Cadavre Exquis Loufok{% endblock %}
{% block css %}  
  <link rel="stylesheet" href="../assets/css/affichage_cadavre.css" >
{% endblock %}
{% block content %}
 <!-- menu -->
  <header>
      <div class="navbar">
          <h1 class="navbar__title">Loufok - les cadavres exquis revisités </h1>
          <input {# aria-checked="false" #} tabindex="0" class="navbar__burger" id="burger" type="checkbox" />
          <label tabindex="0" role="open menu" aria-label="Open menu" for="burger" class="navbar__cross">
            <span class="navbar__cross1"></span>
            <span class="navbar__cross2"></span>
          </label>

          <nav class="menu__hidden" >
            <ul class="menu__hidden__list">
              <li class="menu__hidden__listItem"><a tabindex="-1" class="menu__hidden__link" href="/loufok">Retour</a></li>
              <li class="menu__hidden__listItem"><a tabindex="-1" class="menu__hidden__link" href="/loufok/logout">Déconnexion</a></li>
            </ul>
              <img class="menu__end" src="/assets/images/manuscrit.svg" alt="" />
          </nav>
        <div class="menu">
        </div>
      </div>
  </header>

{# 
  <header>
    <a href="/loufok/logout"> Se déconnecter </a>
  </header> #} 
  <main class="container vh-100">

    <section>
    {% if title %}
      <h2> Consultation de votre dernier Cadavre Exquis en date : {{ title }}</h2>
    {% endif %}
    </section>

    <section>
    {% for contrib in contribs %}
      <div class="contributions">
          <p class="contributions__content">{{ contrib.contributions}}</p>
          {% if contrib.joueurs %}
            <p class="contributions__pseudo">Par {{ contrib.joueurs}}</p>
          {% endif %}
          </div>
    {% endfor %}
    </section>
    
  </main>
{% endblock %}

{% block js %}
{% endblock %}