{% extends 'layout.html.twig' %}
{% block title %}403 - Accès non autorisé{% endblock %}
{% block content %}
  <main class="container vh-100">
    <div class="content h-100 d-flex justify-content-center align-items-center flex-column">
    <h1 class="display-1">403 - Accès non autorisé</h1>
    <p class="message">Vous n'avez pas les autorisations nécessaires pour accéder à cette page.</p>
    <a href="/login" class="btn btn-primary btn-lg">Revenir sur la page d'accueil</a>
    </div>

  </main>
{% endblock %}