{% extends 'layout.html.twig' %}

{% block title %}404 - Page non trouvée{% endblock %}

{% block css %} 
{% endblock %}

{% block content %}
  <main>
    <div class="">
    <h1 class="">404 - Page non trouvée</h1>
    <p class="">{{ message }}</p>
    <a href="/loufok/login" class="">Revenir sur la page d'accueil</a>
    </div>

  </main>
{% endblock %}