<!DOCTYPE html>
 <html lang="fr">
 
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS -->
  <link rel="text/stylesheet" link="/assets/css/main.css">
  {% block css %}{% endblock %}
  <title>{% block title %}Loufok{% endblock %}</title>
 </head>
 <body>
  {% block content %}{% endblock %}
  
  <footer class="footer">
    <div class="access">
    <img  class="access__icon" tabindex="0" src="/assets/images/access_icon.png" alt="Accessibilité" aria-label="accessibilité" />
      <div class="access__shadow">
        <button class="footer__button access__dys">Dyslexique</button>
        <button class="footer__button access__increase" alt="Augmenter la taille du texte" aria-label="Augmenter la taille du texte" ><img src="/assets/images/increase.svg"/></button>
        <button alt="Diminuer la taille du texte" aria-label="Diminuer la taille du texte" class="footer__button access__decrease" ><img src="/assets/images/decrease.svg"/></button>
      </div>
    </div>
  </footer>
  
  <!-- JS -->
  {% block js %}
  {% endblock -%}
    <script src="/assets/js/access.js"></script>
    <script src="/assets/js/tabNav.js"></script>
 </body>
 </html>